---
const { day, content, hidden, open } = Astro.props;
---

<details {open} class={hidden}>
	<summary> დღე {day} </summary>
	<div>
		{content}
	</div>
</details>

<style>
	*:focus {
		outline: none;
	}

	details div {
		border-left: 1px solid #000;
		border-right: 1px solid #000;
		border-bottom: 1px solid #000;
		padding: 0.75em;
	}

	details div > * + * {
		margin-top: 0.75em;
	}

	details + details {
		margin-top: 0.25rem;
	}

	summary {
		list-style: none;
	}

	summary::-webkit-details-marker {
		display: none;
	}

	summary {
		border: 1px solid #000;
		padding: 0.375em 0.5rem;
		cursor: pointer;
		position: relative;
		padding-left: calc(0.875rem + 0.375rem + 0.375rem);
	}

	summary:before {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0.375rem;
		content: '↓';
		width: 0.875rem;
		height: 0.875rem;
		background-color: #000;
		color: #fff;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
	}

	details[open] summary {
		background-color: #eee;
	}

	details[open] summary:before {
		content: '↑';
	}

	details[open] summary:hover::before {
		background-color: var(--theme-primary-hover);
	}

	summary:hover {
		background-color: var(--theme-primary-hover);
		color: #000;
	}

	a {
		color: inherit;
		font-weight: 600;
		text-decoration: none;
		box-shadow: 0 1px 0 0;
	}

	a:hover {
		box-shadow: 0 3px 0 0;
	}

	code {
		font-family: monospace;
		font-weight: 600;
	}

	.hidden {
		display: none;
	}
</style>
