---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';

const seo = {
	title: `Legal Page | Pr Wave`,
	description: `This is the legal page for the Pr Wave.`,
};
---

<Layout {seo}>
	<TextSection narrow>
		<h1>ლეგალური ხელშეკრულების გვერდი</h1>

		<p>
			გთხოვთ, დეტალურად გაეცნოთ წინამდებარე წესებსა და პირობებს, რომელიც
			არეგულირებს მომხმარებლის მიერ ვებ-გვერდის გამოყენებას.
		</p>

		<h2>მომსახურების პირობები</h2>

		<p>
			კომპანია უფლებამოსილია ცალმხრივად შეცვალოს წესები და პიროებები,
			რომლებიც ძალაში შედის მათი ვებ-გვერდზე გამოქვეყნებიდან 24 (ოცდაოთხ)
			საათში. იმ შემთხვევაში, თუ წინამდებარე წესებსა და პირობებში მოცემული
			დანაწესი და ხელშეკრულების კონკრეტული პირობა ერთმანეთს
			ეწინააღმდეგება, უპირატესობა ენიჭება უფრო გვიან გამოქვეყნებულ
			ცვლილებას.
		</p>

		<p>
			წინამდებარე მუხლის მიზნებისათვის სერვისი გულისხმობს კომპანიის მიერ
			გაწეულ ნებისმიერ მომსახურებას, მათ შორის და არა მხოლოდ,
			ანაზღაურებადი და არაანაზღაურებადი სატრენინგო მომსახურების გაწევა.
			აღნიშნული სერვისების მიწოდების მიზნით კომპანია ახორციელებს, მათ
			შორის და არა მხოლოდ: (ა) არაანაზღაურებადი მომსახურების ფარგლებში
			მომზადებული ვიდეო, ტექსტუალური და ვიზუალური მასალის განთავსებას
			ვებ-გვერდზე; (ბ) ანაზღაურებადი სატრენინგო მომსახურების ფარგლებში
			სტუდენტებისათვის ვიდეო, ტექსტუალური და ვიზუალური მასალის გაზიარებას
			ელექტრონული ფოსტის ან/და სხვა ონლაინ პლატფორმის მეშვეობით; (გ)
			ნებისმიერი შინაარსის ვიზუალური, ტექსტუალური ან/და ვიდეომასალის, მათ
			შორის და არა მხოლოდ, ნებისმიერი გრაფიკული ნამუშევრის, დიზაინის,
			ფოტომასალის, ბლოგ პოსტის, ანიმაციის განთავსებას ვებ-გვერდზე,
			ვებ-გვერდის მომხმარებლისათვის. (შემდგომში ვებ-გვერდზე განთავსებული
			მასალები)
		</p>

		<p>
			წინამდებარე ვებ-გვერდზე განთავსებულ მასალებზე, მათ შორის და არა
			მხოლოდ, 1.2 მუხლით განსაზღვრულ ჩამონათვალზე ვრცელდება კომპანიის
			საავტორო უფლებები და აკრძალულია აღნიშნული მასალის ან/და მისი ნაწილის
			გადამუშავება, გამოქვეყნება (გარდა პირად გვერდზე, კომპანიის სოციალური
			მედიის გვერდიდან აღნიშნული მასალის გაზიარებისა “გაზიარების” ღილაკის
			მეშვეობით, საავტორო უფლებათა სრული დაცვით), გადმოწერა პირადად ან/და
			ნებისმიერი მესამე პირის მეშვეობით კომერციული მიზნით ან/და მის
			გარეშე, გადმოწერა გავრცელების მიზნით ან/და მის გარეშე.
		</p>

		<p>
			მომხმარებლის მიერ კომპანიის სოციალური მედიის გვერდზე ნებისმიერი
			ვიზუალური ან/და ტექსტუალური ან/და სხვა მასალის კომენტარში ან/და სხვა
			სახით საჯაროდ გაზიარების შემთხვევაში, მომხმარებელი თავად არის
			პასუხისმგებელი მის მიერ განთავსებული მასალზე საავტორო უფლებების
			დაცვაზე. კომპანია არ აგებს პასუხს, მომხმარებელთა მიერ გაზიარებული
			ინფორმაციის საავტორო უფლებების დაცვაზე, თუ ნებისმიერი მესამე პირის
			მიერ მოხდა მომხმარებეთა მიერ განთავსებული მასალის უნებართვო
			გავრცელება, გადამუშავება ან/და საავტორო უფლებების შესახებ
			საქართველოს კანონით გათვალისწინებული სხვა ვალდებულებების დარღვევა.
		</p>

		<h2>კონფიდენციალურობის პოლიტიკა</h2>

		<p>
			კომპანია ახორციელებს თქვენ მიერ, წინამდებარე დოკუმენტში მითითებული
			პერსონალურ ინფორმაციის შენახვას და უფლებამოსილია სამომავლოდ
			განახორციელოს მისი გამოყენება კომპანიის მიერ მომსახურებ(ებ)ის
			პირდაპირი მარკეტინგული გზით შეთავაზების მიზნით. აღნიშნული
			ინფომრაციის შენახვის მიზანია, მომხმარებლისათვის ეფექტური
			მომსახურების გაწევა. მომხმარებელს ნებისმიერ დროს შეუძლია მოითხოვოს
			ინფორმაცია კომპანიისგან პერსონალური ინფორმაციის დამუშავების თაობაზე
			და მოითხოვოს მის შესახებ არსებული მონაცემების განადგურება.
		</p>

		<p>
			კომპანია და მისი შესაბამისი თანამშრომლები არ არიან პასუხისმგებელნი
			დამდგარი შედეგისათვის, რომელიც მოიცავს პირდაპირ, არაპირდაპირ,
			სპეციალურ, შემთხვევით, მიზეზ-შედეგობრივ, არასახელშეკრულებო ზიანს,
			რაც გამოწვეულია ვებგვერდზე მითითებული ინფორმაციის არასწორი ან/და
			არამიზნობრივი გამოყენებით.
		</p>
	</TextSection>
</Layout>
