---
import { parse, isBefore } from 'date-fns';
import matter from 'gray-matter';
import {
	Container,
	TextCardSection,
	BlogPostsList,
} from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import NewsletterForm from '../../components/forms/NewsletterForm.astro';
import supabase from "../../config/supabase"

const { data: files, error } = await supabase.storage
 .from('public_bucket')
 .list();

if (error) {
 console.error('Error listing files:', error);
 throw error;
}

if (!files || !files.length) {
 throw new Error("No files to download");
}

const promises = [];

files.forEach((file) => {
 promises.push(
    supabase.storage.from('public_bucket').download(`${file.name}`)
 );
});

const response = await Promise.allSettled(promises);

const downloadedFiles = await Promise.all(response.map(async (result, index) => {
 if (result.status === "fulfilled" && result.value.data) {
    const content = await result.value.data.text();
    const { data: frontmatter } = matter(content);
    return {
      name: files[index].name,
      content,
      frontmatter,
    };
 } else if (result.status === "rejected") {
    console.error(`Failed to download file ${files[index].name}:`, result.reason);
 }
}));

const validDownloadedFiles = downloadedFiles.filter(file => file !== undefined);

const blogPosts = validDownloadedFiles.filter(Boolean).map((file) => {
 if (file) {
    return {
      title: file.frontmatter.title,
      description: file.frontmatter.description,
      authors: file.frontmatter.authors,
      publishDate: parse(
        file.frontmatter.publishDate,
        'MMMM d, yyyy',
        new Date()
      ),
      featuredImage: file.frontmatter.featuredImage,
      excerpt: file.frontmatter.excerpt,
      href: `blog/posts/${file.name.replace(/\.mdx$/, '')}`,
    };
 }
}).sort((a, b) => {
 if (isBefore(a.publishDate, b.publishDate)) return 1;
 if (isBefore(b.publishDate, a.publishDate)) return -1;
 return 0;
}
);

const seo = {
	title: 'Blog | Pr Wave',
	description: 'Pr Wave Blog Page',
};
---

<Layout {seo}>
	<Container>
		<TextCardSection>
			<h1>Pr Wave ბლოგი</h1>
			</p>
            იხილეთ ჩვენი ბლოგი, რომ იყოთ ბოლო ტალღაზე ჩვენი ბიზნესის შესახებ.
            გსურთ იყოთ პირველი, ვინც გაიგებს ბლოგის ახალი პოსტის შესახებ?
            შემოუერთდით ჩვენს ბიულეტენს!
            </p>
			<NewsletterForm />
		</TextCardSection>
		<section class="blog-posts-list__section">
			<h2>უახლესი პოსტები</h2>
            {blogPosts !== undefined ?
			<BlogPostsList {blogPosts} /> : "..."}
		</section>
	</Container>
</Layout>

<style>
	.blog-posts-list__section {
		margin: var(--section-margin) auto;
	}
</style>
