---
import { Container } from '@components/odyssey-theme';
import ScrollDown from '@components/core/ScrollDown.astro';
import OceanHeroImage from '../../../images/ocean-hero.jpg';
import { Image } from 'astro:assets';
---

<Container>
	<section class="hero-section__section">
		<div class="hero-section__text">
			<h1>მოგესალმებით PR Wave-ზე</h1>
			<p>ყველაფერი სოციალურ მედიასა და მარკეტინგზე</p>
			<ScrollDown />
		</div>
		<div class="hero-section__image">
			<picture>
				<Image
					src={OceanHeroImage}
					alt="Pr Wave"
					id="home-hero-ocean-image"
				/>
			</picture>
		</div>
	</section>
</Container>

<style>
	.hero-section__section {
		margin: var(--section-margin) auto;
		min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: 1rem;
		padding-bottom: 2rem;
	}
	.hero-section__text {
		justify-self: center;
		max-width: 25rem;
	}
	.hero-btns__container {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	.hero-btns__container {
		margin-right: 1rem;
	}
	.hero-section__image {
		display: flex;
	}
	.hero-section__image img {
		width: 100%;
		height: 100%;
		max-height: 80vh;
		object-fit: cover;
		border-radius: var(--theme-shape-radius);
	}
	@media (max-width: 768px) {
		.hero-section__section {
			grid-template-columns: 1fr;
		}
	}

	.hidden {
		display: none;
	}

	img {
		--_g: 10% /45% 45% no-repeat linear-gradient(#000 0 0);
		--m: left var(--_i, 0%) top var(--_g),
			bottom var(--_i, 0%) left var(--_g),
			top var(--_i, 0%) right var(--_g),
			right var(--_i, 0%) bottom var(--_g);
		-webkit-mask: var(--m);
		mask: var(--m);
		filter: grayscale();
		transition: 0.3s linear;
		cursor: pointer;
	}

	img:hover {
		--_i: 10%;
		filter: grayscale(0);
	}

	h1::before {
		transform: scaleX(0);
		transform-origin: bottom right;
	}

	h1:hover::before {
		transform: scaleX(1);
		transform-origin: bottom left;
	}

	h1::before {
		content: ' ';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		inset: 0 0 0 0;
		background: var(--theme-primary-hover);
		z-index: -1;
		transition: transform 0.3s ease;
	}

	h1 {
		position: relative;
	}
</style>
