---
import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import { Icon } from 'astro-icon/components';
import {
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
	StickyTextImageSection,
	CtaCardSection,
} from '@components/odyssey-theme';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';
import { Image } from 'astro:assets';
import LandingHeroImage from '../images/landing-hero-1.jpg';
import LandingHeroStickyImage from '../images/landing-sticky.jpg';

export const prerender = true;

const seo = {
	title: `Home | Pr Wave`,
	description: `This is the home page for the Pr Wave.`,
};
---

<Layout {seo}>
	<HomeHeroSection />
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>აკეთეთ ბიზნესი კომფორტულად</h1>
			<p>
				<span>PR WAVE</span> კი თქვენი ბიზნესის პოპულარიზაციას უზრუნველყოფს
			</p>
		</div>
		<div slot="btns-container">
			<Button href="/company/contact" customIcon
				>დაგვიკავშირდით<Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button
			>
		</div>
		<picture slot="image-container">
			<Image
				src={LandingHeroImage}
				alt="Pr Wave"
				id="home-hero-image"
				width="700"
				height="900"
			/>
		</picture>
	</TextAndImageHero>

	<CustomerQuoteSection
		quoteText="ბოლოს და ბოლოს, ყოველთვის სჯობს სამი რამ: პირველი - შრომა, მეორე - შრომა და მესამე - შრომა."
		customerName="მიხეილ ჯავახიშვილი"
	/>

	<ThreeColumnTextSection>
		<div slot="column-1-body" class="provide" id="left-slide">
			<h2>კურსი</h2>
			<p>
				კომპლექსური კურსი, როგორც სოც მედია მარკეტინგის სფეროში
				დასასაქმებლად, ასევე, საკუთარი ბიზნესის წარმატებით სამართავად
			</p>
			<Button slot="column-1-cta" href="/company/courses">
				გაიგეთ მეტი
			</Button>
		</div>
		<div slot="column-2-body" class="provide">
			<h2>მასტერკლასი</h2>
			<p>
				და-<span>update</span>-დი <span>PR WAVE</span>-თან ერთად. Არ
				გამოგრჩეს უფასო, ძალიან ინფორმატიული და საჭირო მასტერკლასები
				სოციალური მედია მარკეტინგის შესახებ
			</p>
			<Button slot="column-2-cta" outlined href="/company/masterclass">
				გაიგეთ მეტი
			</Button>
		</div>
		<div slot="column-3-body" class="provide" id="right-slide">
			<h2>სერვისები</h2>
			<p>
				მაქსიმალურად თქვენს ბიზნესზე მორგებული მომსახურება პიარ
				ტალღისგან - მომსახურების სრული და ერთჯერადი პაკეტები
			</p>
			<Button slot="column-3-cta" href="/company/services">
				გაიგეთ მეტი
			</Button>
		</div>
	</ThreeColumnTextSection>

	<YouTubeEmbedSection
		url="https://www.youtube.com/watch?v=cbYr75_R15M"
		rounded
	/>

	<StickyTextImageSection>
		<div slot="text-container">
			<h2>ჩვენ გთავაზობთ:</h2>
			<hr />
			<h3>ინტერაქტიული კურსი</h3>
			<p>
				სწავლება თანამედროვე მეთოდების გამოყენებით, მყუდრო ატმოსფერო,
				24/7 დახმარება. თუ გსურს ახალ დონეზე ასვლა, ეს კურსი შენთვისაა.
			</p>
			<hr />
			<h3>მასტერკლასები</h3>
			<p>
				სწავლება თანამედროვე მეთოდების გამოყენებით, მყუდრო ატმოსფერო,
				24/7 დახმარება. თუ გსურს ახალ დონეზე ასვლა, ეს კურსი შენთვისაა.
			</p>
			<hr />
			<h3>სხვა სერვისები</h3>
			<p>
				სწავლება თანამედროვე მეთოდების გამოყენებით, მყუდრო ატმოსფერო,
				24/7 დახმარება. თუ გსურს ახალ დონეზე ასვლა, ეს კურსი შენთვისაა.
			</p>
			<hr />
		</div>
		<picture slot="image-container">
			<Image src={LandingHeroStickyImage} alt="Pr Wave" class="img" />
		</picture>
	</StickyTextImageSection>

	<CtaCardSection
		background="var(--theme-surface-2)"
		color="var(--theme-on-surface-2)"
	>
		<h2>დავიწყოთ მოგზაურობა ერთად</h2>
		<p>
			სულ რაღაც რამდენიმე ველის შევსებით ჩვენ პარტნიორობას ჩაეყრება
			საფუძველი.
		</p>
		<Button href="/contact" customIcon
			>დაწყება <Fragment slot="icon">
				<Icon name="ic:baseline-chevron-right" />
			</Fragment></Button
		>
	</CtaCardSection>
</Layout>

<script is:inline>
	const leftSlide = document.getElementById('left-slide');
	const rightSlide = document.getElementById('right-slide');

	const options = {
		root: null,
		rootMargin: '0px',
		threshold: 0.5,
	};

	const observer = new IntersectionObserver((entries, observer) => {
		entries.forEach(entry => {
			if (entry.isIntersecting) {
				if (
					entry.target === leftSlide &&
					entry.intersectionRatio >= 0.5
				) {
					entry.target.classList.add('slide-from-left');
					observer.unobserve(entry.target);
				} else if (
					entry.target === rightSlide &&
					entry.intersectionRatio >= 0.5
				) {
					entry.target.classList.add('slide-from-right');
					observer.unobserve(entry.target);
				}
			}
		});
	}, options);

	observer.observe(leftSlide);
	observer.observe(rightSlide);
</script>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	.provide {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: center;
	}
	.img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}

	@media (min-width: 1280px) {
		#right-slide {
			opacity: 0;
		}

		#left-slide {
			opacity: 0;
		}

		.slide-from-left {
			animation: slideLeft 1s ease-in-out forwards;
			transform: translateX(-100%);
			opacity: 0;
		}

		.slide-from-right {
			animation: slideRight 1s ease-in-out forwards;
			transform: translateX(100%);
			opacity: 0;
		}

		@keyframes slideLeft {
			from {
				transform: translateX(-100%);
				opacity: 0;
			}
			to {
				transform: translateX(0);
				opacity: 1;
			}
		}

		@keyframes slideRight {
			from {
				transform: translateX(100%);
				opacity: 0;
			}
			to {
				transform: translateX(0);
				opacity: 1;
			}
		}
	}
</style>
