---
export function getStaticPaths() {
  return [
    {params: {title: 'grdzeli'}, props: {info: courses[0]}},
    {params: {title: 'mokle'}, props: {info: courses[1]}},
  ];
}

import { Container, TextSection } from '@components/odyssey-theme';
import Layout from '../../../layouts/Page.astro';
import {courses} from './courses';


const { info } = Astro.props;
---

<Layout>
    <Container>
        <TextSection>
            <h1>{info.title}</h1>
        </TextSection>
    </Container>
</Layout>
