---
import Layout from '../../../layouts/Page.astro';
import Card from '../../../components/cards/Card.astro';
import { TwoColumnTextSection, Container } from '@components/odyssey-theme';

const seo = {
	title: 'Courses | Pr Wave',
	description: 'Courses Page',
};
---

<Layout {seo}>
	<Container>
		<TwoColumnTextSection>
			<div slot="column-1-body">
				<Card />
			</div>
			<div slot="column-2-body">
				<Card />
			</div>
		</TwoColumnTextSection>
	</Container>
</Layout>
