---
import { Image } from 'astro:assets';
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../../layouts/Page.astro';
import HeroSection from '../../../components/sections/heros/HeroSection.astro';
import {Button} from '@components/odyssey-theme';
import OceanImage from '../../../images/ocean-hero.jpg';

const seo = {
	title: 'About | Pr Wave',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>Pr Wave-ს შესახებ</h1>
			<p>
				Pr Wave ხელს შეგიწყობთ შექმნათ თქვენთვის სასურველი პროდუქტი,
				მოახდინოთ ამავე პროდუქტის ბაზარზე რეალიზება და მოგების მიღება.
				ჩვენი პროფესიონალური ხედვა მოგცემთ საშუალებას შიესწავლოთ
				თანამედროვე პრაქტიკები სოციალური სივრცის მართვაში.
			</p>
		</div>
		<picture slot="image-container">
            <Image src={OceanImage} id="home-hero-ocean-image" alt="A bird sitting on a nest of eggs." />
		</picture>
	</HeroSection>
	<TextSection narrow>
		<p>
			კარიერული მიზნები თითოეული ადამიანისთვის უნიკალური და
			ინდივიდუალურია, ამიტომ, ექსპერტების მეთოდოლოგიით შექმნილი,
			საერთაშორისო მოთხოვნებთან ადაპტირებული, სასწავლო პლატფორმა მოწვეულ
			აუდიტორიას საშუალებას აძლევს ჰქონდეს სასურველი კარიერა კრეატიული და
			ციფრული ინდუსტრიის მიმართულებით.
		</p>

		<p>
			აუდიტორიაზე მორგებული საგანმათლებლო სტრუქტურა, მოიცავს ტრენინგებისა
			და მასტერკლასების ყველაზე ფართო სპექტრს ციფრულ სამყაროში. მოწვეული
			სპიკერები სტუდენტებს ყოველდღიური სამუშაო პროცესიდან უზიარებენ რეალურ
			ქეისებსა და ტენდენციებს, რაც კარიერული წინსვლისთვის საჭირო ხედვებისა
			და უნარების განვითარებაში ეხმარებათ. თითოეული კურსის საგანმანათლებლო
			მიდგომა ითვალისწინებს პარტნიორი კომპანიებისგან შეთავაზებებს:
			ინტერნისა და ექსპერტის პოზიციებზე.
		</p>

		<p>
			დღეს ნებისმიერი ბიზნესისა თუ ინდივიდისთვის წარმატების მისაღწევად
			აუცილებელია ციფრულ ტექნოლოგიაზე ოპტიმიზირებულ სტრატეგიასა თუ
			სტრუქტურასთან ადაპტირება. ციფრულ ეკოსისტემაზე მორგებულ, კომფორტულ
			გარემოში შეხვდები ადამიანებს, რომლებიც საკუთარ ხედვებსა და უნიკალურ
			მიდგომებს გაგიზიარებენ, რაც სასურველი კარიერული ეტაპების მიღწევაში
			დაგეხმარება.
		</p>
		<Button outlined><a href="/getting-started">კურსი</Button>
	</TextSection>
</Layout>
