---
import Layout from '../../../layouts/Page.astro';
import Card from '../../../components/cards/Card.astro';
import { TwoColumnTextSection, Container } from '@components/odyssey-theme';

export const prerender = true;

const seo = {
	title: 'Services | Pr Wave',
	description: 'Services Page',
};
---

<Layout {seo}>
	<Container>
		<h2 class="center--heading">გრძელვადიანი სერვისები</h2>
		<TwoColumnTextSection>
			<div slot="column-1-body">
				<Card />
			</div>
			<div slot="column-2-body">
				<Card />
			</div>
		</TwoColumnTextSection>
		<h2 class="center--heading">ერთჯერადი სერვისები</h2>
		<TwoColumnTextSection>
			<div slot="column-1-body">
				<Card />
			</div>
			<div slot="column-2-body">
				<Card />
			</div>
		</TwoColumnTextSection>
	</Container>
</Layout>

<style>
    .center--heading {
        text-align: center;
        font-size: 36px;
    }
</style>
