---
import Layout from '../../../layouts/Page.astro';
import Card from '../../../components/cards/Card.astro';
import { ThreeColumnTextSection } from '@components/odyssey-theme';

const seo = {
	title: 'Services | Pr Wave',
	description: 'Services Page',
};
---

<Layout {seo}>
	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<Card />
		</div>
		<div slot="column-2-body">
			<Card />
		</div>
		<div slot="column-3-body">
			<Card />
		</div>
	</ThreeColumnTextSection>
</Layout>
