---
import { SkipLink } from '@components/odyssey-theme';
import BaseHead from '../components/head/BaseHead.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import FacebookChat from '../components/react/FacebookChat';
import ScrollUp from '../components/core/ScrollUp.astro';
export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead {...seo} />
	</head>
	<body>
		<SkipLink />
		<slot name="announcement-bar" />
		<slot name="header" />
		<main id="content">
			<slot />
		</main>
		<ScrollUp />
		<FacebookChat client:only="react" />
		<slot name="footer" />
	</body>
</html>

<script>
	window.addEventListener('scroll', () => {
		const scrollY = window.scrollY;
		const windowHeight = window.innerHeight;
		const documentHeight = document.documentElement.scrollHeight;
		const screenWidth = window.innerWidth;

		if (
			screenWidth >= 768 &&
			scrollY + windowHeight >= documentHeight - 400
		) {
			document.getElementById('scrollButton').style.display = 'block';
		} else {
			document.getElementById('scrollButton').style.display = 'none';
		}
	});
</script>
