---
import {
	Button,
	FormInput,
	FormSelect,
	FormTextarea,
} from '@components/odyssey-theme';

const selectOptions = ['გუგლი', 'სოციალური მედია', 'სხვა პირისგან'];
---

<form name="Contact Form" method="POST" action="/contact-thank-you">
	<FormInput type="text" label="სახელი" name="Name" placeholder="John Doe" />
	<FormInput
		type="email"
		label="მეილი"
		name="Email"
		placeholder="template@example.com"
	/>
	<FormSelect label="როგორ გაიგეთ ჩვენ შესახებ?" options={selectOptions} />
	<FormTextarea label="წერილი" name="Message" placeholder="თქვენი წერილი..."
	/>
	<Button>გაგზავნა</Button>
</form>

<style>
	form {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
	}
</style>
